.ai1ec-agenda-view .ai1ec-event-header .ai1ec-event-avatar {
  display: inline-block; 
  position: relative;
  overflow: hidden;
  width: 63px;
  height: 0;  
  padding-bottom: 63px;
}

.ai1ec-agenda-view .ai1ec-event-header .ai1ec-event-avatar img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-height: none;
  max-width: none;
  border-radius: 0;
  width: auto;
  height: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
}

.ai1ec-agenda-view .ai1ec-event-header .ai1ec-event-avatar.ai1ec-portrait img {
  height: auto;
  width: 100%;
}

.ai1ec-agenda-view .ai1ec-event-header .ai1ec-event-avatar {
    margin-bottom: 0px;
}

.ai1ec-agenda-view .ai1ec-event .ai1ec-event-header {
    min-height: 63px;
}

.ai1ec-agenda-view .ai1ec-event-description {
    margin-top: 30px;
}

.ai1ec-agenda-view .ai1ec-event-summary .ai1ec-event-avatar {
 float: right;
 margin: 0px 0px 8px 16px;
}

@media (max-width: 567px) {

.ai1ec-agenda-view .ai1ec-event .ai1ec-event-meta, .ai1ec-agenda-view .ai1ec-event .ai1ec-color-swatches {display: inline}

.ai1ec-agenda-view .ai1ec-event .ai1ec-event-title {display: block}

.ai1ec-agenda-view .ai1ec-event-header .ai1ec-event-avatar {display: none;}

}

.ai1ec-calendar-toolbar {
    border: none !important;
}


.ai1ec-event-toggle {
	display: none !important;
}

#ai1ec_registration_calendar.ai1ec-event, #ai1ec_registration_calendar a {
    font-size: 1.35em !important;
    color: #b71a72 !important;
}

#ai1ec_registration_calendar a:hover {
    font-size: 1.35em !important;
    color: #660000 !important; 
}

.entry-content .timely .ai1ec-btn-default {
    font-size: 1.05em !important;
    color: #b71a72 !important;
}

.entry-content .timely .ai1ec-btn-default a:hover {
    color: #660000 !important; 
}

.ai1ec-agenda-view .ai1ec-event .ai1ec-event-header {
    min-height: 40px !important;
}


.ai1ec-read-more {
  visibility: hidden;
}

#ai1ec_registration_calendar #event.ai1ec-event {
  border: none;
}

div.ai1ec-event.ai1ec-event-id-3019.ai1ec-event-instance-id-53.ai1ec-expanded {
    border: none !important;
}


/*weekend-retreats*/ 
{
    background: -moz-linear-gradient(top, rgba(176,96,251,1) 0%, rgba(176,96,251,0.99) 1%, rgba(176,96,251,0.61) 30%, rgba(176,96,251,0) 76%);
background: -webkit-linear-gradient(top, rgba(176,96,251,1) 0%,rgba(176,96,251,0.99) 1%,rgba(176,96,251,0.61) 30%,rgba(176,96,251,0) 76%);
background: linear-gradient(to bottom, rgba(176,96,251,1) 0%,rgba(176,96,251,0.99) 1%,rgba(176,96,251,0.61) 30%,rgba(176,96,251,0) 76%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b060fb', endColorstr='#00b060fb',GradientType=0 );
  }

/*mens-forums*/ 
{
background: -moz-linear-gradient(top, rgba(171,232,84,1) 0%, rgba(171,232,84,0.99) 1%, rgba(171,232,84,0.61) 30%, rgba(171,232,84,0) 76%, rgba(171,232,84,0) 77%);
background: -webkit-linear-gradient(top, rgba(171,232,84,1) 0%,rgba(171,232,84,0.99) 1%,rgba(171,232,84,0.61) 30%,rgba(171,232,84,0) 76%,rgba(171,232,84,0) 77%);
background: linear-gradient(to bottom, rgba(171,232,84,1) 0%,rgba(171,232,84,0.99) 1%,rgba(171,232,84,0.61) 30%,rgba(171,232,84,0) 76%,rgba(171,232,84,0) 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abe854', endColorstr='#00abe854',GradientType=0 );
 }

/*social-events */ 
{
background: -moz-linear-gradient(top, rgba(255,190,70,1) 0%, rgba(255,190,70,0.99) 1%, rgba(255,190,70,0.61) 30%, rgba(255,190,70,0) 76%, rgba(255,190,70,0) 77%);
background: -webkit-linear-gradient(top, rgba(255,190,70,1) 0%,rgba(255,190,70,0.99) 1%,rgba(255,190,70,0.61) 30%,rgba(255,190,70,0) 76%,rgba(255,190,70,0) 77%);
background: linear-gradient(to bottom, rgba(255,190,70,1) 0%,rgba(255,190,70,0.99) 1%,rgba(255,190,70,0.61) 30%,rgba(255,190,70,0) 76%,rgba(255,190,70,0) 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbe46', endColorstr='#00ffbe46',GradientType=0 );
}

/*specialty-workshops */
{
background: -moz-linear-gradient(top, rgba(233,96,86,1) 0%, rgba(233,96,86,0.99) 1%, rgba(233,96,86,0.61) 30%, rgba(233,96,86,0) 76%, rgba(233,96,86,0) 77%);
background: -webkit-linear-gradient(top, rgba(233,96,86,1) 0%,rgba(233,96,86,0.99) 1%,rgba(233,96,86,0.61) 30%,rgba(233,96,86,0) 76%,rgba(233,96,86,0) 77%);
background: linear-gradient(to bottom, rgba(233,96,86,1) 0%,rgba(233,96,86,0.99) 1%,rgba(233,96,86,0.61) 30%,rgba(233,96,86,0) 76%,rgba(233,96,86,0) 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e96056', endColorstr='#00e96056',GradientType=0 );
}

/* womens-forums */
#ai1ec_registration_calendar #event.ai1ec-event.ai1ec-event-id-3019 {
background: -moz-linear-gradient(top, rgba(173,64,118,1) 0%, rgba(173,64,118,0.99) 1%, rgba(173,64,118,0.61) 30%, rgba(173,64,118,0) 76%, rgba(173,64,118,0) 77%);
background: -webkit-linear-gradient(top, rgba(173,64,118,1) 0%,rgba(173,64,118,0.99) 1%,rgba(173,64,118,0.61) 30%,rgba(173,64,118,0) 76%,rgba(173,64,118,0) 77%);
background: linear-gradient(to bottom, rgba(173,64,118,1) 0%,rgba(173,64,118,0.99) 1%,rgba(173,64,118,0.61) 30%,rgba(173,64,118,0) 76%,rgba(173,64,118,0) 77%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad4076', endColorstr='#00ad4076',GradientType=0 );
color: white !important;
font-weight: bolder !important;
}

    